.nav-bar {
  z-index: 9999;
}

.ui-fbe-logo {
  background-color: #0094ff;
  color: #fff;
}

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 350px;
  margin-top: 20px;
  width: 320px;
  padding: 1rem;
}

#ui-features h1 {
  text-transform: capitalize;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  margin-bottom: 90px;
  width: 120px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
/* Problem with table-cell width when clicking on Australia */
/* Currently the Width is static, which looks beter on most countries */
/* For some data/countries we will need dinamic */
#ui-table-data {
  display: flex;
  overflow: scroll;
  height: 64px;
}
.table-cell {
  display: flex;
  flex-direction: column;
  width: 120px;
}
.table-header {
  background-color: cadetblue;
  color: #fff;
  font-weight: bold;
  border-right: 1px solid #fff;
  padding: 0 0.5em;
}
.table-data {
  background-color: #444;
  color: #fff;
  font-weight: normal;
  border-right: 1px solid #fff;
  padding: 0 0.5em;
  font-size: 0.9em;
}

.button-holder {
  position: absolute;
  top: 0;
}
